<section>
  <form fxLayout="row" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Insira o seu e-mail" ngModel name="email" email required>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Insira aqui a sua senha" ngModel name="password" required minlength="6">
      <mat-hint>Deve possuir no mínimo 6 caracteres.</mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary">Enviar</button>
  </form>
</section>
