<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">

  <section>
    <h1>Bem vindo ao Sistema</h1>
    <p>Esta aplicação foi desenhada para facilitar a construção de novos sistemas usando o ambiente AWS.</p>
  </section>

  <section>
    <mat-card fxFlex="400px">
      <mat-card-title>Empresa</mat-card-title>
      <mat-card-content>
        Dados da Empresa
      </mat-card-content>
      <mat-card-actions>
        <button mat-button-raised>Visualizar</button>
        <button mat-button-raised>Descartar</button>
      </mat-card-actions>
    </mat-card>
  </section>
  <section>
    <mat-card fxFlex="400px">
      <mat-card-title>Pessoas</mat-card-title>
      <mat-card-content>
        Existem x pessoas cadastradas nesta empresa
      </mat-card-content>
      <mat-card-actions>
        <button mat-button-raised>Visualizar</button>
        <button mat-button-raised>Descartar</button>
      </mat-card-actions>
    </mat-card>
  </section>
  <section>
    <mat-card fxFlex="400px">
      <mat-card-title>Empresa</mat-card-title>
      <mat-card-content>
        Existem Y documentos registrados nesta empresa
      </mat-card-content>
      <mat-card-actions>
        <button mat-button-raised>Visualizar</button>
        <button mat-button-raised>Descartar</button>
      </mat-card-actions>
    </mat-card>
  </section>
  <section>
    <mat-card fxFlex="400px">
      <mat-card-title>Movimentação Financeira</mat-card-title>
      <mat-card-content>
        Existem z registros de movimentação financeira nesta empresa
      </mat-card-content>
      <mat-card-actions>
        <button mat-button-raised>Visualizar</button>
        <button mat-button-raised>Descartar</button>
      </mat-card-actions>
    </mat-card>
  </section>

</div>
